## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [1]:
import random

sample_list_1 = random.sample(range(0, 101), 80)
print(sample_list_1)

[58, 50, 69, 92, 37, 29, 93, 80, 4, 46, 95, 1, 96, 31, 43, 81, 84, 0, 79, 89, 23, 59, 60, 97, 38, 49, 10, 8, 44, 86, 91, 88, 2, 98, 41, 90, 71, 33, 20, 70, 75, 61, 55, 76, 27, 77, 18, 45, 24, 78, 63, 34, 94, 7, 56, 36, 32, 74, 54, 39, 67, 47, 40, 21, 35, 11, 16, 53, 42, 30, 64, 15, 85, 9, 100, 14, 26, 3, 73, 65]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [2]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [3]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[43, 39, 45, 50, 41, 50, 30, 64, 28, 33, 87, 47, 31, 46, 54, 46, 14, 32, 83, 56, 36, 67, 25, 45, 75, 20, 58, 78, 34, 76, 61, 27, 83, 18, 61, 79, 73, 3, 27, 90, 84, 12, 31, 67, 42, 44, 65, 76, 56, 66, 73, 15, 79, 80, 98, 89, 33, 4, 27, 86, 51, 67, 8, 78, 28, 6, 28, 31, 43, 39, 4, 91, 64, 76, 52, 27, 92, 36, 79, 92]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [4]:
set2 = set(sample_list_2)
print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
set3 = set1 - set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
set4 = set2 - set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
set5 = set1 & set2

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
len(set1) = len(set3) + len(set5) + len(set4)


assert len(set1) == len(set3) + len(set5) + len(set4)

SyntaxError: cannot assign to function call (1974732699.py, line 1)

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [13]:
if set1 == set6:
    print("set1 and set6 are equal.")
else:
    print("set1 and set6 are not equal.")

set1 and set6 are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
if set2.issubset(set1):
    print("set1 contains set2.")
else:
    print("set1 does not contain set2.")

set1 does not contain set2.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
aggregated_set = set3.union(set4, set5)
aggregated_set2 = set1.union(set2)
if aggregated_set == aggregated_set2:
    print("The aggregated values are equal.")
else:
    print("The aggregated values are not equal.")

The aggregated values are equal.

#### Using the `pop` method, remove the first element from `set1`.

In [21]:
set1.pop()

4

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{7, 8, 10, 14, 15, 16, 18, 20, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 53, 54, 55, 56, 58, 60, 63, 64, 65, 67, 70, 73, 74, 75, 76, 77, 78, 80, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}

In [25]:
set1.difference_update(list_to_remove)
print(set1)

{7, 8, 10, 14, 15, 16, 18, 20, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 53, 54, 55, 56, 58, 60, 63, 64, 65, 67, 70, 73, 74, 75, 76, 77, 78, 80, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}